<div class="d-flex flex-column align-items-center mt-3 dark-mode">

    <button class="btn btn-success col-4 mt-3">Success</button>

    <button class="btn btn-warning col-4 mt-3">Warning</button>

    <button class="btn btn-info col-4 mt-3">Info</button>

    <button class="btn btn-danger col-4 mt-3">Danger</button>

    <button class="btn btn-primary col-4 mt-3">Primary</button>

    <button class="btn btn-light col-4 mt-3">Light</button>

    <button class="btn btn-dark col-4 mt-3">Dark</button>

    <button class="btn btn-link col-4 mt-3">Link</button>

    <button class="btn btn-outline-success col-4 mt-3">Success</button>

    <button class="btn btn-outline-warning col-4 mt-3">Warning</button>

    <button class="btn btn-outline-info col-4 mt-3">Info</button>

    <button class="btn btn-outline-danger col-4 mt-3">Danger</button>

    <button class="btn btn-outline-primary col-4 mt-3">Primary</button>

    <button class="btn btn-outline-light col-4 mt-3">Light</button>

    <button class="btn btn-outline-dark col-4 mt-3">Dark</button>

    <button class="btn btn-outline-link col-4 mt-3">Link</button>

</div>
