@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.color {
  background-color: $cyan;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 40%);
}
